@import "~bootstrap/scss/bootstrap";
// header--------------------------------------------------------------------------------------------------
header {
    .logo-container {
        height: 4rem;
        vertical-align: middle;
    
        img {
            height: 100%;
        }
    }
    
    nav {
        vertical-align: middle;
        height: 100%;
    
        ul {
            list-style: none;
            display: flex;
            height: 100%;
            margin: 0;
    
            li {
                cursor: pointer;
                display: flex;
                justify-content: center;
    
                a {
                    text-decoration: none;
                    color: black;
                    padding: 2rem 1rem;
                }
            }
        }
    }
}


// sezione cards------------------------------------------------------------------------------------------
.jumbotron {
    height: 20rem;
    width: 100%;
    background-image: url('../img/laravel-comics/images/jumbotron.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.sezione-comics {
    h3 {
        color: white;
        background-color: rgb(0, 132, 255);
        padding: 1rem 2rem;
        width: fit-content;
        position: relative;
        bottom: 33px;
    }
    
    
    img {
        height: 10rem;
        width: 100%;
        object-fit: contain
    }
    
    button {
        color: white;
        background-color: rgb(0, 132, 255);
        padding: 0.5rem 3rem;
        margin: 2rem auto 0;
        cursor: pointer;
        border: none;
    }

}


// blue section----------------------------------------------------------------------------------
.blue-section {
    background-color: rgb(0, 132, 255);

    .container-small {
        width: 1000px;
        height: 6rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .icons {
            cursor: pointer;

            img {
                height: 2rem;
                vertical-align: middle;
            }
    
            span {
                vertical-align: middle;
                margin-left: 0.5rem;
            }
        }
    }
}

// footer-----------------------------------------------------------------------------------------

.top-footer {
    background-image: url("../img/laravel-comics/images/footer-bg.jpg");

    .menu-side {
        display: flex;
        padding: 1rem;

        .nav-2 {
            margin-top: 1rem;
        }

        .nav-3,
        .nav-4 {
            margin-left: 2rem;
        }

        h3 {
            color: white;
        }

        ul {
            list-style: none;
            padding: 0;

            a {
                color: lightgray;
                text-decoration: none;
                font-size: 0.7rem;
            }
        }


    }

    .logo-side {
        height: 100%;
        
        img {
            height: 25rem;
        }
    }
}

.bottom-footer {
    background-color: #303030;
    height: 5rem;


    .sign-up-btn {
        background-color: transparent;
        padding: 1rem;
        cursor: pointer;
        color: white;
        border: 2px solid rgb(0, 132, 255);
    }

    .follow-up-btn {
        background-color: transparent;
        padding: 1rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: rgb(0, 132, 255);
    }

    .icon-btn {
        border: none;
        background-color: transparent;
        height: fit-content;
        width: fit-content;
        border-radius: 50%;
        margin-left: 0.5rem;
        cursor: pointer;
    }
}

.end-footer {
    background-color: #222222;
    height: 1rem;
}